body {
    font-family: Arial, sans-serif;
    background-color: #0f0d25;
    margin: 0;
    padding: 0;
}

.nav-item .nav-link {
    color: #FFF;
}

.nav-item .nav-link.active {
    color: #cae06e;
    font-weight: 700;
}

.main-container {
    width: 100%;
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.main-header h1 {
    margin: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

thead {
    background-color: #f2f2f2;
}

th {
    background-color: #ddd;
}

th,
td {
    padding: 10px;
    border: 1px solid #ddd;
}

th {
    text-align: left;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #ddd;
}

navbar-toggler-icon {
    color: #cae06e;
}
